.bg-cor1{
    background-color: #F5C6EB;
    
}
.bg-cor2{
    background-color: #F5EB84;
    
}
.bg-cor3{
    background-color: #D9F5FF;
    
}
.text-cor1{
    color:#F5C6EB;
}
.text-cor2{
    color:#F5EB84;
}
.text-cor3{
    color:#D9F5FF;
}
.border-cor1{
    border-color: #F5EB84;
}